body{
    background-color: #DDCAD9;
    font: normal 16pt Arial ;
}

header{
    color: #53599A;
    text-align: center;
}

section{
    font-family: monospace;
    background-color: #E5E9EC;
    border-radius: 20px;
    padding: 16px;
    width: 250px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.347);
}

footer{
color:#53599A;
font-style: italic;
text-align: center;
}